<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63E7F7E11D535A4000161B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E7F7FA1D535A4100161B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E7F8051D535A4100161B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
